{
displayStrings = (
"፥፦፠፡,;!?.,:;…!¡?¿·•*#///backslash/backslash -–—_(){}[]‚„“”‘«»‹›\"'&@†‡¶%‰’§",
"𞟢",
"ሀሁሂሃሄሆሇለሉሊላሌልሎሏሐሑሒሓሔሕሖሗመሙሚማሜምሞሟሠሡሢሣሤሥሦሧረሩሪራሬርሮሯሰሱሲሳሴስሶሷሸሹሺሻሼሽሾሿቀቁቂቃቄቅቆቇቈቊቋቌቍቐቑቒቓቔቕቖቘቚቛቜቝበቡቢባቤብቦቧቨቩቪቫቬቭቮቯተቱቲታቴትቶቷቸቹቺቻቼችቾቿኀኁኂኃኄኅኆኇኈኊኋኌኍነኑኒናኔንኖኗኘኙኚኛኜኝኞኟከኩኪካኬክኮኯኰኲኳኴኵኸኹኺኻኼኽኾዀዂዃዄዅወዉዊዋዌውዎዏዘዙዚዛዜዝዞዟዠዡዢዣዤዥዦዧየዩዪያዬይዮዯደዱዲዳዴድዶዷዸዹዺዻዼዽዾዿጀጁጂጃጄጅጆጇገጉጊጋጌግጎጏጐጒጓጔጕጘጙጚጛጜጝጞጟጠጡጢጣጤጥጦጧጨጩጪጫጬጭጮጯጰጱጲጳጴጵጶጷጸጹጺጻጼጽጾጿፀፁፂፃፄፅፆፇፈፉፊፋፌፍፎፏፐፑፒፓፔፖፗፘፙፚ፩፪፫፬፭፮፯፰፱፲፳፴፵፶፷፸፹፺፻፼፥፣፨፦፠፤፡ᎀᎁᎂᎃᎌᎍᎎᎏⶠⶡⶢⶣⶤⶥᎄᎅᎆᎇ᎐᎒᎓ⶨⶩⶪⶫⶬⶭⶮⶰⶱⶲⶳⶴⶵⶶⶸⶹⶺⶻⶼⶽⶾⷀⷁⷂⷃⷄⷅⷆⷈⷉⷊⷋⷌⷍⷎⷐⷑⷒⷓⷔⷕⷖⷘⷙⷚⷛⷜⷝⷞꬁꬂꬃꬄꬅꬆꬉꬊꬋꬌꬍꬎꬑꬒꬓꬔꬕꬖꬠꬡꬢꬣꬤꬥꬦꬨꬩꬪꬫꬬꬭꬮⶅ𞟴᎖ⶐⶇⶍ᎑᎘᎔ⶌᎈᎋᎊ𞟼ᎉ𞟻ⶓⶖⶕⶔ𞟺𞟹𞟸𞟫𞟪𞟩𞟠𞟣𞟥𞟤𞟢𞟦𞟡᎗ⶎ᎕᎙𞟷𞟶𞟵ⶀⶁⶈⶉⶊⶑⶒ𞟾𞟽ⶂⶄⶃⶦⶏⶆⶋ",
"ዩክሬን የሩሲያ ግዛት ውስጥ ዘልቃ በሜሪካ ሚሳሎች ንድትመታ ባይደን ፈቃድ ሰጡ",
"ፕ",
"ኡ",
"ኣ",
"ዐዑዒዓዔዕዖ",
"፥።",
"፣፧",
"◌",
"።፧",
"/caroncomb.case AǍ",
B,
I,
"L̍Ľ",
"LĽ"
);
}
